*{
  box-sizing: border-box;
}

html{
  background-color: red;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 2rem;
  text-align: center;
  color: white;
}

h2.video-title{
  color: black;
}

#channel-title h4{
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  font-size: 1rem;
  text-align: center;
  color: darkgrey;
  text-decoration: underline;
}

.search{
  width: 640px;
  padding-bottom: 20px;
  margin: 12rem auto 0 auto;
}

.results{
  /*background-color: #E3E4DB;*/
  width: 640px;
  padding: 5px;
  margin: 0 auto 0 auto;
}

.result{
  background-color: white;
  padding: 5px;
  width: 95%;
  margin: 0 auto 15px auto;
  -webkit-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 8px 0px rgba(0,0,0,0.75);
}

.result img {
  width: 100%;
  display: block;
  margin: 0 auto 0 auto;
}

#search-button{
  display: block;
  margin: 0 auto 0 auto;
  background-color: white;
  border-radius: 3px;
  margin-top: 20px;
  border: none;
  padding: 10px 15px 10px 15px;
}

#js-search-query{
  display: block;
  margin: 0 auto 0 auto;
  padding: 10px;
  border-radius: 3px;
  border: none;
  width: 90%;
}

#js-results{
  -webkit-padding-start: 0px;
  list-style: none;
}

#results button {
  background-color: white;
  display: inline-block;
  border: none;
  padding: 15px;
  border-radius: 3px;
}

nav{
  /*centers navigation buttons*/
  text-align: center;
}

#next-btn:hover, #back-btn:hover, #search-button:hover{
  color: red;
}

.hidden{
  display: none;
}


/*MOBILE STYLES*/
@media only screen and (max-width: 640px) {
  .card,.result {
    width: 100%;
  }
  h1{
    font-size: 2.6rem;
  }
  #channel-title h4{
    margin: 10px auto 10px auto;
    font-size: 2.5vh;
  }
  .video-title{
    font-size: 3vh;
  } 
}